.success {
  color: green;
  background: lightgreen;
  font-size: 18px;
  border: solid 2px green;
  padding: 8px;
  margin-bottom: 8px;
}

.error {
  color: red;
  background: rgb(255, 155, 155);
  font-size: 18px;
  border: solid 2px red;
  padding: 8px;
  margin-bottom: 8px;
}
